.cart {
  padding: 20px 0px;
}
.shopping-cart {
  display: flex;
  justify-content: center;
}

.main-product {
  display: flex;
  padding-left: 55px;
}

.payment-cart {
  padding-left: 4%;
  width: 92%;
  background-color: #f0f1f4;
  margin-left: 6%;
  margin-right: 2%;
  height: 88%;
}

.payment-cart h4 {
  padding: 20px 0px;
}

.small-line-main {
  border-bottom: 0.01rem solid grey;
  width: 101%;
  margin-bottom: 3%;
}
.total-money {
  display: flex;
}

#sub {
  padding-right: 20%;
}

#payment-btn {
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #fff;
  background: #928656;
  border: none;
  display: inline-block;
  outline: none !important;
  margin-left: 11%;
  height: 50px;
  width: 300px;
  margin-bottom: 20px;
}

.small-line-payment {
  border-bottom: 0.01rem solid grey;
  width: 97%;
}

.small-line-payment-icon {
  border-bottom: 0.01rem solid grey;
  width: 97%;
  margin-bottom: 10px;
}

.icon-link img {
  margin-bottom: 20px;
}

.cart p {
  margin-top: 20px;
  padding-left: 82%;
}

#idcart {
  padding-right: 70px;
}

#namecart {
  padding-right: 250px;
}

#typecart {
  padding-right: 100px;
}

#pricecart {
  padding-right: 50px;
  width: 215px;
}

#btncart {
  display: flex;
  padding-right: 50px;
}

.adjust-btn
{
  padding-left: 0%;
}

.adjust-btn button
{
  margin-left: 10%;
}

#adjust
{
  padding-right: 20px;
  width: 190px;
}

#updatecart {
  margin-right: 10px;
  border: none;
  text-decoration: none;
  background-color: white;
  &:hover {
    color: green;
  }
}

#deletecart {
  margin-right: 10px;
  border: none;
  text-decoration: none;
  background-color: white;
  &:hover {
    color: red;
  }
}

#information-list
{
  display: block;
  padding-bottom: 10px;
}

#information-list p
{
  padding-left: 0%;
  font-weight: 700;
}

#information-list span
{
  font-weight: 100;
}

.icon-link
{
  display: block;
}

.merge-block
{
  display: block;
  padding-left: -10%;
}

.button-continue p
{
  padding-left: 28%;
}

.total
{
  padding-left: 1.5%;
}

.selectedbutton
{
  margin-left: 30%;
}